.container {
    max-width: 1140px;
    margin: 0 auto;
}

.logo {
    width: 188px;
    float: left;
    img {
        width: 100%;
        display: block;
    }
}

.profile {
    position: absolute;
    width: 150px;
    top: 0;
    right: 0;
    .createRecord {
        width: 50px;
        display: inline-block;
        color: #fff;
        font-size: 20px;
        float: left;
        text-align: center;
        cursor: pointer;
        a {
            color: #fff;
        }
    }

    .userName {
        color: #fff;
        float: left;
        a {
            color: #fff;
        }
    }
}

.pageTitle {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.fieldTitle {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    padding: 15px 0;
    margin-top: 30px;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.pageSpin {
    position: relative !important;
    top: 100px;
    left: 50%;
    margin-left: -10px;
}

._404Page {
    h1 {
        color: #108ee9;
        font-size: 120px;
        font-weight: 500;
        text-align: center;
        margin-top: 100px;
    }
}

.projectsWrap {
    .projectCol {
        margin-bottom: 30px;
        >div {
            min-height: 150px;
        }
    }
    .projectAdd {
        position: relative;
        i {
            position: relative;
            left: 50%;
            margin-left: -15px;
            margin-top: 10px;
            font-size: 30px;
        }
        >a{
            >div {
                min-height: 150px;
            }
        }
    }
}

.tasksWrap {
    .addTaskBtn {
        text-align: right;
        margin-bottom: 30px;
    }
    .topFieldPanel {
        position: relative;
        >h3 {
            padding: 10px;
        }
        >p {
            font-size: 14px;
            padding: 10px;
            margin-bottom: 20px;
        }
        .subFieldPanel {
            position: relative;
            font-size: 15px;
            button {
                float: right;
                position: relative;
                top: 5px;
                right: 10px;
            }
        }
    }
    .projectGroupContent {
        position: relative;
    }
}

.createRecordWrap {
    position: relative;
}

.editRecordWrap {
    position: relative;
}

.myTodayWrap {
    .recordPaneHead {
        font-size: 16px;
        >span {
            padding: 0 10px;
            font-size: 15px;
            color: #888;
        }
    }
    .recordPanel {
        position: relative;
        a {
            float: right;
            margin-right: 10px;
        }
    }
    .recordRow {
        position: relative;
        font-size: 14px;
        padding: 10px 0;
        >div:first-child {
            font-weight: bold;
        }
    }
}
